* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}

header nav {
    max-width: 1360px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px 0;
}

.logo a img {
    max-width: 139px;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    /* font-size: 16px; */
    font-weight: 500;
    color: black;
}

.menu ul li a:hover {
    display: inline-block;
    transform: scale(1.05);
    color: #30B868;
    transition: all 0.3s ease-in-out;
}

.btn button {
    padding: 12.5px 16px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.btn button:hover {
    background-color: #63cc8f;
    transition: all .3s ease-in-out;
}